@import "tailwindcss";

:root {
  --background: #181818;
  --foreground: #ededed;
  --accent: #f5cb5c;
  --muted: #222222;
  --muted-foreground: #797979;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #ededed;
  }
} */

@layer utilities {
  /* Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Chrome / Edge / Safari */
.no-track::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.no-track::-webkit-scrollbar-track {
  background: transparent; /* hilangkan background track */
}

.no-track::-webkit-scrollbar-track-piece {
  background: transparent; /* penting di beberapa kasus */
}

.no-track::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.35); /* thumb masih terlihat */
  border-radius: 999px;
  border: 2px solid transparent; /* bikin “floating” */
  background-clip: padding-box;
}

/* Firefox */
.no-track {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.35) transparent; /* thumb | track */
}
